* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #212121;
  color: white;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: larger;
  background-color: black;
  color: white;
}

.btn-section {
  display: flex;
  gap: 10px;
}

.head {
  display: flex;
  justify-content: center;
  font-size: xx-large;
}